body {
    margin: 20px 10px;
    background-color: #F7F7F7;
}
nav ul {
    color: #000000;
    list-style-type: decimal;
    line-height: 1.8;
}
nav ul li {
    font-size: 16px;
}
a {
    color: #0000FF;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
h1 {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}
