body {
    margin: 10px auto;
}
nav ul {
    list-style: none;
    line-height: 1.5;
}
nav ul li {
    font-size: 25px;
}
a {
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
h1 {
    font-size: 40px;
    font-weight: bold;
}
